h1{
    font-family: serif;
    color: palevioletred;
    text-size-adjust: medium;
    text-align: left;
    border-bottom: solid medium;
}    

nav{
    font-size: larger;

}

h2-class{
    text-align: center;
}

body{
    background-color: antiquewhite;
    text-align: center;
}

p{
 font-family: sans-serif;
 text-align: left;
 font-size: medium;
}

p1{
    text-align: left;
}

p2{
    text-align: center;
}

p3{
    text-align: right;
}

label{
    float: center;
}

nav{
    display: inline; /*only appy for the top navigation*/
    color: deeppink;
    text-decoration: none;
    width: fit-content;
    display: flex; /*make the navigation to be full screen*/
}

a{
   display: block; 
   padding: 15px 20px;
   display: inline;
   text-decoration: none;
}

a:hover{
    color: blueviolet;
    text-decoration: underline;
    transition: background-color 0.3s ease;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none;
}

img {
  width: 100%;
}

.caption {
  color: #fff;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s ease;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/*Pinterest*/
.fa-pinterest {
  background: #cb2027;
  color: white;
}

/*Center all font awesome icons*/
.fa {
    text-align: center;
}

footer{
    color: palevioletred;
    text-align: left;
    font-size: larger;
}
    
    
