
h1{
    font-family: serif;
    color: palevioletred;
    text-size-adjust: medium;
    text-align: left;
    border-bottom: solid medium;
}    

nav{
    font-size: larger;

}

h2-class{
    text-decoration: underline;
    colour: palevioletred;
    text-align: center;
}

body{
    background-color: antiquewhite;
    text-align: center;
}

p{
 font-family: sans-serif;
 text-align: left;
 font-size: medium;
}

p1{
    width: 100%;
    text-align: left;
}

p2{
    width: 100%;
    text-align: left;
}

p3{
    text-align: right;
}

label{
    float: center;
}

navbar{
    display: flex; 
    justify-content: space-between;
    background-color: palevioletred;
    border: deepink;
    align-items: center;
    color: palevioletred;
    text-decoration: underline;
    width: fit-content;
    postion: sticky;
    z-index: 1000;
    top: 0;
}

nav-menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav-link:a {
  color: palevioletred;
  text-decoration: none;
}

a:hover {
  color: blueviolet;  
  text-decoration: underline;
}    

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /*optional for horizontal only */
  overflow-y: auto; 
}

fullscreen-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: flex;
}

search-bar {
  float: right;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc
}     

item {
      margin-bottom: 30px;
      padding: 15px;
      background-color: #fff3eb;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }

item h2 {
      margin: 0;
      color: #444;
    }

price {
      font-weight: bold;
      color: purple;
    }

images {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      flex-wrap: wrap;
    }

img {
      width: 24%;
      border-radius: 8px;
      object-fit: cover;
      max-width: 100%;
      height: auto;
    }

  form {
    position: center;  
    background-color: white;
    padding: 20px;
    max-width: 800px;
    margin-top: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;  
  }

  input-textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    background-color: pink;
    color: white;
    border: palevioletred;
    padding: 10px 18px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover {
    background-color: white;
  }

footer{
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    color: palevioletred;
    text-align: left;
    font-size: larger;
}
    
    
